.MyTags {
    @include text("GolosText", 500, 36px, var(--c2));
    margin: 2em 0 7em;
    h2 {
        margin-bottom: 0.5em;
    }
}

.Blocks {
    display: flex;
    gap: 0.5em;
    
}

.Block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 1.8em;
    background-color: var(--c5);
    border-radius: 32px;
    width: 33%;
    &:first-of-type {
        width: 66%;
        gap: 1em;
    }
    &:last-of-type {
        color: var(--c4);
        height: fit-content;
        p {
            @include text("GolosText", 400, 26px, var(--c4));
            margin-bottom: 4em;
        }
    }
}

.TagList {
    max-height: 50vh;
    height: 100%;
    width: 100%;
}

.Tag {
}