.AboutProject {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.First {
    display: flex;
    align-items: end;
    height: 8em;
    padding: 1em;
    border-radius: 32px;
    background-color: var(--c7);
    @include text("GolosText", 600, 58px, var(--c1));
    span {
        max-width: 70%;
    }
}

.Desc {
    display: flex;
    border-radius: 32px;
    padding: 1.4em;
    background-color: var(--c5);
    @include text("GolosText", 400, 27px);
    & > * {
        width: 50%;
    }

    p:not(:last-child) {
        margin-bottom: 1.5em;
    }
}

.Team {
    @include text("GolosText", 600, 27px, var(--c4));
    padding: 1em 1em 4em;

    h2 {
        margin-bottom: 1em;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em 3em;
    }
    ul li {
        display: flex;
        gap: 0.5em;
        img {
            width: 3.5em;
        }
        h3 {
            @include text("GolosText", 500, 20px);
            text-decoration: underline;
            margin-top: 0.5em;
            margin-bottom: 0.05em;
        }
        span {
            @include text("GolosText", 400, 12px, var(--c4));
            text-transform: uppercase;
        }
    }
}

.MadeIn {
    display: flex;
    gap: 24px;
    @include text("GolosText", 400, 32px, var(--c6));
    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3% 5%;
        border-radius: 32px;
        background-color: var(--c7);

        &:nth-child(1) {
            width: 100%;
            background-color: var(--c1);
            max-width: 60%;
            img {
                max-height: 2.5em;
            }
            span {
                margin-right: 0.8em;
                text-wrap: nowrap;
            }
        }
    }
}
