.TagList {
    position: relative;
}

.Container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 12px;
    padding-bottom: 0.8em;
}

.Container::after {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: 1.3em;
    bottom: 0;
    left: 0;
    pointer-events: none;
    
}

.ContainerBlack::after {
    background-image: linear-gradient(to bottom, transparent, var(--c6));
}

.ContainerGray::after {
    background-image: linear-gradient(to bottom, transparent, var(--c5));
}



.Tag3 {
    max-width: calc(33% - 12px);
    width: 100%;
}

.Tag2 {
    max-width: calc(50% - 12px);
    width: 100%;
}

.TagClickable {
    cursor: pointer;
    @include hoverAndActive;
}
