html {
    font-family: "Golos-Text";
    color: var(--PRIMARY_WHITE);
    background-color: var(--PRIMARY_BLACK);
}

a:hover,
button:hover {
    opacity: 0.8;
}

a:active,
button:active {
    opacity: 0.9;
    color: inherit;
}

