.TagRowList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.6em;
    @include text("GolosText", 500, 20px);
    & > * {
        display: inline-block;
        vertical-align: middle;
    }
    span {
        color: var(--c6);
        padding-left: 0.2em;
    }
}
