.MyDateInput {
    position: relative;
    cursor: pointer;

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 2%;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.FakeInput {
    position: relative;
    padding: 0.921em 1.2em !important;
    width: 100%;
    .Placeholder {
        color: var(--PRIMARY_LIGHTGRAY);
        text-decoration: underline;
    }
    .Value {
        color: var(--PRIMARY_WHITE);
    }
    &:after {
        position: absolute;
        content: "";
        mask: url("./Assets/calendar.svg") no-repeat center / contain;
        background-color: #fff;
        top: 50%;
        right: 0.8em;
        transform: translateY(-50%);
        height: 1.3em;
        width: 1.3em;
    }
}
