@use "@/1app/Fonts/fonts";
@use "@/1app/Styles/colors";
@use "@/1app/Styles/reset";

:root {
    background-color: var(--c6);
    min-height: 100vh;
    @include text();
}

.App {
    max-width: 1920px;
    margin: 0 auto;
    & > *:not(.no-padding) {
        padding: 10px 20px 0;
    }
}
