@use "@/1app/Fonts/fonts";
@use "@/1app/Styles/colors";
@use "@/1app/Styles/reset";

:root {
    background-color: var(--c6);
    min-height: 100vh;
    @include text();
}

.App {
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    & > *:not(.no-padding) {
        padding: 10px 20px 0;
    }
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--c7);
    border-radius: 3px;

    // Add Border on Track
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--c4);
}
