.Header {
    position: sticky;
    top: 10px;
    display: none;
    justify-content: space-between;
    padding: 0.33em 1.4em;
    margin: 0 20px 15px;
    border-radius: 32px;
    z-index: 10000;
    @include text("GolosText", 400, 22px, var(--c6));
}

.HeaderDark {
    background-color: var(--c1);
}

.Navbar {
    gap: 2.4em;
    display: flex;
    align-items: center;
    a {
        @include hoverAndActive;
        &:nth-child(3),
        &:nth-child(4) {
            font-weight: 500;
        }
    }
}
