@media (width > 1000px) {
    .Login {
        background-image: url("./Assets/bg.png");
    }
}

.Buttons {
    :not(:first-child) {
        width: 100%;
    }
    > * {
        min-width: 30%;
    }
}

